In [1]:
# Mini Curso de Python 

# importar a base de dados
# Percorrer a base de dados para verificar se há possíveis cagadas nas linhas e nas colunas 
# calcular o faturamento por loja 
# calcular a quantidade de produtos vendidos por loja 
# ticket médio por produto em cada loja 

# Enviar um e-mail com um relatório final 

import pandas as pd 
tabela = pd.read_excel('Vendas.xlsx')
display(tabela)

# Caso todas as colunas não sejam mostradas USE -->>>  pd.set_option('display.max_coluns', None)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [2]:
tabela = tabela.drop('Código Venda', axis=1)
tabela = tabela.drop('Data', axis=1)
tabela = tabela.dropna()
display(tabela)

,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,Iguatemi Esplanada,Camiseta,2,180,360
2,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,Norte Shopping,Relógio,3,200,600
4,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...
100994,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,Center Shopping Uberlândia,Mochila,4,270,1080
100996,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,Ribeirão Shopping,Short Linho,2,133,266

In [3]:
faturamento_total = tabela['Valor Final'].sum()
print(faturamento_total)

# Faturamento por loja            
# Se vamos analisar uma coluna só basta 1 [], se são mais de 1 em diante.. [[]] dois colchetes 
faturamento_p_loja = tabela[['ID Loja', 'Valor Final']] 
display(faturamento_p_loja)

# Seria melhor agrupar essas lojas somando o faturamento de cada uma. 

faturamento_p_loja = tabela[['ID Loja', 'Valor Final']].groupby('ID Loja').sum() # da mesma forma q podemos pegar o total sum poderiamos pegar a média ou etc..
display(faturamento_p_loja)

41877063

                           ID Loja  Valor Final
0               Iguatemi Esplanada          358
1               Iguatemi Esplanada          360
2               Iguatemi Esplanada          368
3                   Norte Shopping          600
4                   Norte Shopping           71
...                            ...          ...
100994  Center Shopping Uberlândia          204
100995  Center Shopping Uberlândia         1080
100996  Center Shopping Uberlândia           87
100997           Ribeirão Shopping          108
100998           Ribeirão Shopping          266

[100999 rows x 2 columns]

                                  Valor Final
ID Loja
Bourbon Shopping SP                   1726110
Center Shopping Uberlândia            1668921
Iguatemi Campinas                     1762419
Iguatemi Esplanada                    1699681
Norte Shopping                        1711968
Novo Shopping Ribeirão Preto          1678225
Palladium Shopping Curitiba           1721120
Parque Dom Pedro Shopping             1631630
Passei das Águas Shopping             1649014
Ribeirão Shopping                     1707122
Rio Mar Recife                        1722766
Rio Mar Shopping Fortaleza            1698430
Salvador Shopping                     1646739
Shopping Barra                        1653103
Shopping Center Interlagos            1640486
Shopping Center Leste Aricanduva      1682870
Shopping Eldorado                     1648111
Shopping Ibirapuera                   1635060
Shopping Iguatemi Fortaleza           1674824
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444
Shopping Recife                       1624879
Shopping SP Market                    1721763
Shopping União de Osasco              1663770
Shopping Vila Velha                   1731167

In [4]:
# A principio não iriamos por [] após o groupby mas como estamos tratando de informações uma uma lista colocamos ([])

faturamento_p_produto = tabela[['ID Loja', 'Produto', 'Quantidade', 'Valor Final']].groupby(['ID Loja', 'Produto']).sum() 
display(faturamento_p_produto)

                                      Quantidade  Valor Final
ID Loja             Produto
Bourbon Shopping SP Bermuda                   69        10350
                    Bermuda Estampa           71        11999
                    Bermuda Linho             61        11895
                    Bermuda Liso              62         9734
                    Bermuda Listrado          75        12225
...                                          ...          ...
Shopping Vila Velha Tênis Estampa             66        16896
                    Tênis Linho               86        25284
                    Tênis Liso                65        17290
                    Tênis Listrado            53        13886
                    Tênis Xadrez              86        22274

[3000 rows x 2 columns]

In [5]:
# ticket médio por produto em cada loja.  
# O ticket é a quantidade de vendas total pelo número de produtos vendidos

# Sempre que fazemos uma operação onde haverá uma coluna dividia pela outra aparecerá um erro - dtype: float64 - pq a resposta n necessariamente será uma tabla. 
# Para resolvermo isso colocamos a operação entre    ( ssdbstbstetehethth ).toframe()      então será convertido em tabela. 

ticket_med = (faturamento_p_loja['Valor Final']/faturamento_p_produto['Quantidade']).to_frame()
ticket_med = ticket_med.rename(columns={0: 'Ticket Medio'})
display(ticket_med)

                                      Ticket Medio
ID Loja             Produto
Bourbon Shopping SP Bermuda           25016.086957
                    Bermuda Estampa   24311.408451
                    Bermuda Linho     28296.885246
                    Bermuda Liso      27840.483871
                    Bermuda Listrado  23014.800000
...                                            ...
Shopping Vila Velha Tênis Estampa     26229.803030
                    Tênis Linho       20129.848837
                    Tênis Liso        26633.338462
                    Tênis Listrado    32663.528302
                    Tênis Xadrez      20129.848837

[3000 rows x 1 columns]

In [6]:
# Agora vamos enviar um e-mail com os dados em forma de relatório

# import win32com.client as win32
# outlook = win32.Dispatch('outlook.application')
# mail = outlook.CreateItem(0)
# mail.To = 'To address'
# mail.Subject = 'Message subject'
# mail.HTMLBody = '<h2>HTML Message body</h2>'
# mail.send()

# quando temos que escrever um texto com mais de 1 linha devemos escreve-lo com 3 aspas simples     ''' '''
# Precisamos tbm editar o meail para que ele tenha parágrafos, e um corpo estruturado 
# Em texto, todo parágrafo esta entre   <p> texto do parágrafo </p>
# como vamos precisar de que as tabelas sejam introduzidas ao longo do texto, vamos adicionar o f antes das '''
# Agora podemos introduzir dentro das {} a variável que queremos ..
# colocaremos .to_html() para converter as tabelas em uma tabrla exibível no e-mail. 

# Um outro detalhe que precisamos resolvere é o separador de casas decimais para que fique de mais facil compreensão 
# para isso, usaremos ... formatters={'Valor Final': 'R${:,.2f}'.format}
# Usamos 'Valor Final': pq é nessa coluna que iremos alterar o valor para  : R${:,.2f} o 2 f é pa são duas casas decimais, caso fosse apenas uma 1f


import win32com.client as win32
outlook = win32.Dispatch('outlook.application')
mail = outlook.CreateItem(0)
mail.To = 'lucastelesbezerra@hotmail.com'
mail.Subject = 'Relatório de Dados'
mail.HTMLBody = f''' 
<p> Prezados,</p>

<p> Segue em anexo o relatório contendo um resumo dos dados do arquivo 'Vendas.xlsx' tratdos por python, contendo:</p> 
<p> Total de vendas por loja,</p> 
<p> Total de vendas por produto,</p> 
<p> Ticket por produto.</p> 

<p> Faturamento por Loja</p> 
{faturamento_p_loja.to_html(formatters={'Valor Final': 'R${:,.2f}'.format})}

<p> Faturamento por produto</p> 
{faturamento_p_produto.to_html()}

<p> Ticket médio por produto</p>
{ticket_med.to_html(formatters={'Ticket Médio': 'R${:,.2f}'.format})}

<p> Qualquer dúvida estou a disposição,</p>

<p>Lucas T. Bezerra</p>
'''
mail.send()
print('email enviado')

TypeError: 'bool' object is not callable